body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #f1f7ed;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

td {
    color: #b33951;
    font-size: 80px;
    background-color: #91c7b1;
    border: 2px solid black;
    height: 140px;
    width: 140px;
}

#scores-area {
    text-align: center;
    display: inline-block;
}

.scores {
    border: 1px solid black;
    text-align: left;
    padding-left: 5px;
    float: left;
    width: 150px;
    margin: 10px;
    padding: 5px;
}

#games-won {
    color: green;
}

#games-lost {
    color: red;
}

#game-rules-area {
    text-align: center;
}

#game-rules {
    display: inline-block;
    text-align: left;
}

li {
    line-height: 1.8rem;
}

button {
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 15px;
}

button:hover {
    font-size: 17px;
    padding: 9px 18px;
    border-radius: 15px;
}

#clear {
    background-color: #e3d081;
    color: #54494b;
    border: 1px solid #54494b;
}

#reset {
    background-color: #b33951;
    color: #f1f7ed;
}

/* Media queries for small screens 445px and smaller */
@media screen and (max-width: 445px){
    td {
        font-size: 60px;
        height: 80px;
        width: 80px;
    }
}