body {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #f1f7ed;
}
/* Game area */
table {
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

td {
    color: #b33951;
    font-size: 80px;
    background-color: #91c7b1;
    border: 2px solid black;
    height: 140px;
    width: 140px;
}

/* Scores */
#scores-area {
    text-align: center;
    display: inline-block;
}

.scores {
    font-size: 1.1rem;
    text-align: left;
    padding-left: 5px;
    float: left;
    width: 150px;
    margin: 10px;
    padding: 5px;
}

/* Win and loss totals */
#games-won {
    color: green;
}

#games-lost {
    color: black;
}

/* Game rules */
#game-rules-area {
    text-align: center;
}

#game-rules {
    display: inline-block;
    text-align: left;
}

li {
    line-height: 1.8rem;
}

/* New Game and Clear Scores buttons */
button {
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.1rem;
    margin: 5px 15px;
}

button:hover {
    font-size: 17px;
    padding: 9px 18px;
    border-radius: 15px;
}

#clear {
    background-color: #e3d081;
    color: #54494b;
    border: 1px solid #54494b;
}

#reset {
    background-color: #b33951;
    color: #f1f7ed;
}

/* Form Information */
#feedback-button {
    background: #54494b;
    color: #fff;
    width: 220px;
}

#form-outer {
    width: 100%;
    text-align: center;
}

#form-inner {
    border: 1px dashed #54494b;
    width: 80%;
    display: inline-block;
    margin-top: 20px;
    padding: 0 5px;
}

form {
    width: 100%;
    display: ;
}

form input {
    width: 60%;
    max-width: 300px;
}

#feedback-text-area {
    width: 60%;
    max-width: 400px;
    height: 200px;
}

#submit-feedback {
    width: fit-content;
}

/* Media queries for small screens 445px and smaller */
@media screen and (max-width: 445px){
    td {
        font-size: 60px;
        height: 80px;
        width: 80px;
    }

    form input, #feedback-text-area {
        width: 90%;
        max-width: 300px;
    }
}